* {
  color: white !important;
  font-family: sans-serif !important;
}

body {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.special {
  background-color: rgba(245, 245, 245, 1);
  opacity: .8;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 0;
  /* Abstand zwischen den Buttons */
  text-decoration: none;
  background-color: #333;
  /* Dunkelgrauer Hintergrund für den 3D-Effekt */
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  /* 3D-Effekt */
  transition: transform 0.1s, box-shadow 0.1s;
}

.button:hover {
  transform: translateY(-2px);
  /* Button leicht nach oben bewegen beim Hover */
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  /* Verstärkter Schatten beim Hover */
}

.button:active {
  transform: translateY(0);
  /* Button wieder in die Ausgangsposition beim Klicken */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  /* Reduzierter Schatten beim Klicken */
}

/* CSS für das einklappbare Element */
.collapsible-header {
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 0;
  /* Abstand zwischen den Buttons */
  text-decoration: none;
  background-color: #333;
  /* Dunkelgrauer Hintergrund für den 3D-Effekt */
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  /* 3D-Effekt */
  transition: transform 0.1s, box-shadow 0.1s;
}

.collapsible-header:hover {
  transform: translateY(-2px);
  /* Button leicht nach oben bewegen beim Hover */
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  /* Verstärkter Schatten beim Hover */
}

.collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.collapsible-content.active {
  max-height: fit-content;
  max-width: fit-content;
  transform: translateY(0);
  /* Button wieder in die Ausgangsposition beim Klicken */
  display: flex;
  /* Für die Zentrierung */
  flex-direction: column;
  /* Buttons untereinander anordnen */
  align-items: center;
  /* Horizontale Zentrierung */
  justify-content: center;
}