/* Globale Variablen für einfache Farbanpassungen */
:root {
    --background-color: #202020;
    --main-text-color: white;
    --prompt-color: #7a8c52;
    --highlight-color: #7a8c52;
    --error-color: #5a7a42;
    --warning-color: #8fa56d;
}

body {
    color: var(--main-text-color);
    font-family: 'Segoe UI Variable', 'Segoe UI', system-ui, -apple-system, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 20px;
    overflow-y: scroll;

    background: #202020 url('../img/me.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#terminal {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid rgba(107, 117, 85, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18), 0 0 2px rgba(0, 0, 0, 0.12);
    padding: 16px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.0605);
    backdrop-filter: saturate(180%) blur(40px);
    border-radius: 8px;
}

.line {
    display: flex;
    align-items: baseline;
}

.prompt {
    color: var(--prompt-color);
    margin-right: 10px;
    flex-shrink: 0;
}

.output {
    white-space: pre-wrap;
    margin-bottom: 10px;
}

.output-command {
    color: var(--highlight-color);
    flex-grow: 1;
}

a {
    color: var(--highlight-color);
    text-decoration: underline;
    transition: all 0.167s cubic-bezier(0.1, 0.9, 0.2, 1);
}

a:hover {
    color: #8fa56d;
}

/* Versteckt die Eingabezeile am Anfang */
#input-line {
    display: none;
}

.center {
    text-align: center;
}